@import "@gouvfr/dsfr/dist/css/dsfr.css";
.hero{
  background-color: #000091;
  padding: 2rem;
  h1{
    color: #ffffff;
  }
  .home_header{
    p{
      color: #ffffff;
    }
    .fr-btn{
      background-color: #ffffff;
    }
  }
}
.home-section{
  margin:2rem 0;
}
.h-text-center, .align-center{
  text-align:center;
}
.pagination-center{
  justify-content:center;
}
.fr-pagination{
  margin-top:20px;
}
.single-meta{
  margin: 1rem 0;
}
.img-medium{
  max-height: 250px;
}
.fr-sidemenu__list{
  padding: 0;
}
.fr-tile__body{
  align-items: inherit;
  justify-content:inherit;
}
.fr-select-group{
  text-align: left;
}
.autocomplete{
  @import "bulma/sass/utilities/_all.sass";
  // Set your colors
  $primary: #000091;
  $link: $primary;
  @import "bulma";
  @import "buefy/src/scss/buefy";
}
.notices{
  position: fixed;
  top: 50%;
  left: 40%;
  z-index: 1;
  border: 1px solid #000091;
  .snackbar{
    width: 300px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10%;
    padding: 10px;
  }
}