@import "@gouvfr/dsfr/dist/css/dsfr.min.css";
.hero{
  background-color: #000091;
  color: #ffffff;
  padding: 2rem;
}
.home-section{
  margin:2rem 0;
}
.h-text-center, .align-center{
  text-align:center;
}
.pagination-center{
  justify-content:center;
}
.fr-pagination{
  margin-top:20px;
}
.single-meta{
  margin: 1rem 0;
}
.img-medium{
  max-height: 250px;
}