@import "maplibre-gl/dist/maplibre-gl.css";
.o-tabs__content{
  padding: 0 !important;
}
.map_container {
  height: 70vh;
  #map{
    position:relative;
    height: 100%;
  }
}
.map-title{
  background-color: #000091;
  padding: 20px 5px;
   h5 {
    color: #ffffff;
    text-align: center;
    margin:0;
  }
}
.maplibregl-popup{
  p{
    margin:0;
    font-size: 0.8rem;
  }
}